* { overflow: hidden; }

.login {
    margin: 0;
    padding: 120px 20px 0 20px;
    text-align: center;
}

.login a { color: #818181; font-weight: 500; }

.login .title {
    text-align: center;
    font-size: 28px;
    padding: 20px 0;
    font-weight: 500;   
}

.field {
    margin: 10px 0;
}

.field input {
    background: #EEEEEE;
    border: 0;
    padding: 7px 5px 7px 35px;
    width: 250px;
    font-size: 18px;
    height: 30px;
    border-radius: 30px;
}

.button input {
    cursor: pointer;
    margin: 10px 0 0 0;
    background: #59B747;
    border: 0;
    padding: 10px 5px;
    color: #fff;
    height: unset;
    width: 285px;
    text-align: center;
}

.button input:hover { background: rgb(86, 173, 69); }

.g-recaptcha {
    display: inline-block;
    margin: 10px auto 0 auto;
}

.field span {
    position: relative;
}

.field span i {
    position: absolute;
    left: 13px;
    top: 4px;
}

.error {
    text-align: center;
    font-weight: 600;
    font-size: 19px;
    color: darkred;
}